{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
body {
  background-image:url("../../public/assets/fond.jpeg")
}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
  
}

.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.messaging { padding: 0 0 50px 0;
  text-align:center;
  display: flex;
  justify-content: center;
}

.log {
    display:flex;
    justify-content:center;
    margin:auto;
}
</style>

<div class="container">
<h3 class=" text-center">Connexion</h3>
<div class="messaging"> 
    <div class="inbox_people">
        <div class="headind_srch">
        <div class="recent_heading">
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                </br>
                <input type="text" class="search-bar log"  placeholder="Username" >
                </br>
                <input type="password" class="search-bar log"  placeholder="Password" >
                </br>
                <span class="input-group-addon">
                    <button type="button" class="btn btn-secondary log">Connexion</button>
                </span>
                </br>
                <button type="button" class="btn btn-link">S'inscrire</button>

                </div>
            </div>
          </div>
    </div>
{% endblock %}
